#peek {
    width: 50%;
    margin-left: 50px;
    border-radius: 10px;
}

.sneak-peek {
    margin-top: 10px;
    float: left;
}

.timer {
    margin-left: 50px;
    color:rgb(108,117,125);
}

.sneak-peaks {
    color:rgb(108,117,125);
    margin-top: 18px;
    margin-left: 7px;
    float: left;
}